:root {
    --md-admonition-icon--realm-server: url('../assets/server.svg');
    --md-admonition-icon--realm-shared: url('../assets/shared.svg');
    --md-admonition-icon--realm-client: url('../assets/client.svg');
}

.md-typeset .admonition.realm-server,
.md-typeset details.realm-server,
.md-typeset .admonition.realm-shared,
.md-typeset details.realm-shared,
.md-typeset .admonition.realm-client,
.md-typeset details.realm-client {
    border-color: rgb(70, 169, 255);
}

.md-typeset .realm-server>.admonition-title,
.md-typeset .realm-server>summary,
.md-typeset .realm-shared>.admonition-title,
.md-typeset .realm-shared>summary,
.md-typeset .realm-client>.admonition-title,
.md-typeset .realm-client>summary {
    background-color: rgba(70, 169, 255, 0.1);
}

.md-typeset .realm-server>.admonition-title::before,
.md-typeset .realm-server>summary::before,
.md-ellipsis>.icon_server {

    -webkit-mask-image: none;
    mask-image: none;
    background-image: url('../assets/server.svg');
    background-repeat: no-repeat;
    padding-right: calc(1.5em + 0.5rem);
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-color: rgba(255, 255, 255, 0);
}

.md-typeset .realm-shared>.admonition-title::before,
.md-typeset .realm-shared>summary::before,
.md-ellipsis>.icon_shared {

    -webkit-mask-image: none;
    mask-image: none;
    background-image: url('../assets/shared.svg');
    background-repeat: no-repeat;
    padding-right: calc(1.5em + 0.5rem);
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-color: rgba(255, 255, 255, 0);
}

.md-typeset .realm-client>.admonition-title::before,
.md-typeset .realm-client>summary::before,
.md-ellipsis>.icon_client {

    -webkit-mask-image: none;
    mask-image: none;
    background-image: url('../assets/client.svg');
    background-repeat: no-repeat;
    padding-right: calc(1.5em + 0.5rem);
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-color: rgba(255, 255, 255, 0);
}

.md-ellipsis>.icon_server,
.md-ellipsis>.icon_shared,
.md-ellipsis>.icon_client {
    background-position: 0%;
    padding-right: calc(1.5em + 0.1rem);
}

.parameter,
.types {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 120%;
}

.parameter {
    background: #3C4E84;
}

.types {
    background: #D9E2FF;
    color: var(--md-typeset-a-color);
}

.realm-client > summary,
.realm-shared > summary,
.realm-server > summary {
    font-size: 125%;

}

.realm-client > h5,
.realm-shared > h5,
.realm-server > h5 {
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    position: relative;
    top: -3em;
}

.realm-client > h3,
.realm-shared > h3,
.realm-server > h3 {
    font-size: 150%;
    border: 1px solid;
    border-image-source: linear-gradient(to left, #4b77be, #37578c);
    border-image-slice: 1;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
}

.md-sidebar--primary {
    min-width: 12.1rem;
    width: fit-content;
  }

.md-typeset details {
    font-size: .65rem;
}